
  
  
    <div class="container">
      <h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome {{user.username }}</p>
<form action = "/users/logout" method="POST">
    <button type="submit" class="btn btn-primary btn-block">
        Logout
      </button>
</form>
<form action = "/users/logoutall" method="POST">
    <button type="submit" class="btn btn-primary btn-block">
        Logout from all devices
      </button>
</form>
    </div>

    



