{{#section 'style'}}
    .cover {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .content {
      flex: 1 0 auto;
    }
    #contact {
      flex-shrink: 0;
    }
    #mygif {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
    {{/section}}
  
    
  
  <div class="cover">
  <img src="/img/crops.gif" id="mygif" alt="...">
  <div class="content">
    <br><br>
    <div style="text-align: center; position: sticky;">
      <h1> <span style="background-color: #fff; font-size: 50px; color:#016168; padding: 15px; opacity: 80%;">Organique</span> </h1>
    </div>
    <br>
    <div class="container" style="margin-bottom: 30px; opacity: 90%;">
          
    <!-- form -->
    <form method="POST" action="/users/login">
    
      <section id="form-dom">
        
          <div class="row">
            <div class="col-12">
              <div class="col-12 col-md-8 col-lg-6 log-style">
                <div id="form-main">
                  <h1
                    class="section-title wow fadeInUp animated"
                    data-wow-delay="0.2s"
                    style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    Log In
                  </h1>
                  <div style="color: red;">
                    <p style="font-size: 15px; text-align: center">{{messageFailure}}</p>
                  </div>
                  <div style="color: green;">
                    <p style="font-size: 15px; text-align: center">{{messageSuccess}}</p>
                  </div>
                  <div class="design">
                    <form id="login-form">
                      <h3></h3>
                      <div class="row">
                        <div class="col">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter username"
                            name="username"
                            required
                          />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <input
                            type="Password"
                            class="form-control"
                            placeholder="Password"
                            name="password"
                            required
                          />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3 col-md-3"></div>
                        <div class="col-12 col-md-6">
                          <button
                            type="submit"
                            href=""
                            class="btn btn-common btn-nv-sty"
                            style="width: 100%; "
                          >
                            Log In
                          </button>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                      <div class="col-md-2 col-lg-2"></div>
                      <div class="col">
                        <a href="/users/register" style="font-size: 20px">Don't have an account? Register here!</a>
                      </div>
                    </div>
                      {{!-- <p style="font-size: 20px;">Don't have an account? Register using the link given below.</p> --}}
                      <div class="row">
                        <div class="col">
                          <p class="error text-danger" align="center"></p>
                          <p class="success text-success" align="center"></p>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-6"></div>
            </div>
          </div>
      </section>
    </form>
    </div>
    </div>
      <footer id="contact" class="footer-area section-padding" style="opacity: 80%; color:white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-8 wow fadeInUp" data-wow-delay="0.4s">
                    <h3>QUICK LINKS</h3>
                    <ul>
                        <li><a href="/users/login">LOGIN</a></li>
                        <li><a href="/users/register">REGISTER</a></li>
                        <li><a href="/users/about">ABOUT ORGANIQUE</a></li>
                        <li><a href="/users/help">HELP</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
                    <h3>CONTACT US</h3>
                    <p style="font-size:15px;">Reach out to us at :</p>
                    <br>
                    <ul>
                        <li>&emsp;Email id&emsp;:&emsp;gandhias18.comp@coep.ac.in</li>
                        <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;kondevp10.comp@coep.ac.in</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>
    
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </div>