
    {{#section 'style'}}
    .cover {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .content {
      flex: 1 0 auto;
    }
    #contact {
      flex-shrink: 0;
    }
    #mygif {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
    {{/section}}
  
    
  
  <div class="cover">
  <img src="/img/crops.gif" id="mygif" alt="...">
  <div class="content">
    <br><br>
    <section id="form-dom" class="services">
      <div class="container" style="margin-bottom: 30px; opacity:90%">
        <div class="row">
          <div class="col-12">
            <div class="col-12 col-md-12 col-lg-8 log-style">
              <div id="form-main">
                <h1
                  class="section-title wow fadeInUp animated"
                  data-wow-delay="0.2s"
                  style="
                    visibility: visible;
                    -webkit-animation-delay: 0.2s;
                    -moz-animation-delay: 0.2s;
                    animation-delay: 0.2s;
                  "
                >
                  Register as an Investor
                </h1>
                <div class="design">
                  <form id="register-form" action="/users/registerinvestor" method="POST" enctype="multipart/form-data">
                    <h3></h3>
                    <div class="row">
                      <div class="col">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Full Name"
                          name="registername"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Username"
                          name="username"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Email Id"
                          name="email"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input
                          type="Password"
                          class="form-control"
                          placeholder="Password"
                          name="password"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input
                          type="Password"
                          class="form-control"
                          placeholder="Confirm Password"
                          name="password2"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Pan number"
                          name="pannumber"
                        />
                      </div>
                    </div>
                    <div class="row">
                        <div class="col">Enter the starting and ending amount of range you are interested in investing:</div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input
                          type="number"
                          class="form-control"
                          placeholder="Starting amount(in INR)"
                          name="startingrange"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input
                          type="number"
                          class="form-control"
                          placeholder="Ending amount(in INR)"
                          name="endingrange"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="incomestatement">Upload your latest income statement:</label>
                        <input
                          type="file"
                          class="form-control"
                          placeholder="Land ownership proof"
                          name="incomestatement"
                          id="incomestatement"
                        />
                      </div>
                    </div>
                    <div class="row">
                       <div class="col-lg-3 col-md-4 col-3"></div> 
                       <div class="col">
                      <button
                        type="submit"
                        class="btn btn-common btn-nv-sty"
                        style="width: 50%;">
                        Register
                      </button>
                    </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 col-1 col-lg-3"></div>
                      <div class="col">
                        <a href="login" style="font-size: 20px">Already registered? Login here!</a>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <p class="error text-danger" align="center"></p>
                        <p class="success text-success" align="center"></p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-6"></div>
          </div>
        </div>
      </div>
    </section>
    </div>
      <footer id="contact" class="footer-area section-padding" style="opacity: 80%; color:white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-8 wow fadeInUp" data-wow-delay="0.4s">
                    <h3>QUICK LINKS</h3>
                    <ul>
                        <li><a href="/users/login">LOGIN</a></li>
                        <li><a href="/users/register">REGISTER</a></li>
                        <li><a href="/users/about">ABOUT ORGANIQUE</a></li>
                        <li><a href="/users/help">HELP</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
                    <h3>CONTACT US</h3>
                    <p style="font-size:15px;">Reach out to us at :</p>
                    <br>
                    <ul>
                        <li>&emsp;Email id&emsp;:&emsp;gandhias18.comp@coep.ac.in</li>
                        <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;kondevp10.comp@coep.ac.in</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </div>
